body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}
nav.navbar-dark {
    background: #2b4180;
}
span.container-brand {
    color: #777;
    text-transform: capitalize !important;
}
span.container-brand > div {
    font-size: 30px;
}
.btn-success, .btn-primary {
    border-color: #2b4180;
    background: #2b4180;
    opacity: 0.9;
}
.btn-success:hover,.btn-primary:hover {
    background: #2b4180;
    opacity: 1;
}
.form-control-select {
    border-radius: 3px;
    height: auto;
}
/* CSS spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0;
    border: 3px solid #2b4180;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2b4180 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Text beside animator */
  .col-text-bullet {
      line-height: 27px;
  }
  .col-anim-bullet {
      text-align: right;
  }
